# Python From Scratch: Part 1

In [39]:
# Python is widely accepted due to simplicity of the language compared with the likes of Java.
# Python is a General Purpose Language
# Python is a high level language
# Python is the most in demand programming language in workplaces
# Python is the most in demand programming language for Data Scientists

In [ ]:
# Comments are pieces of text used to describe what is happening in the code (by using Hash Sign)
# They have no effect on the code whatsoever.

# Your First Python Code

In [41]:
print("Hello World") #This is a print function.

Hello World

In [42]:
print(50,100,30,"Hello Datalab")

50 100 30 Hello Datalab

In [62]:
# If we want multiple print statements to print in the same line, 
# we can use the following code
print("Hello",end=" ")
print("World",end=" ")
print("to the Starlights Team")

Hello World to the Starlights Team

In [46]:
print("Olayemi",end = " ")
print("Oyeleke")

Olayemi Oyeleke

In [52]:
#To use more than one line of text in your string 
#(called a multiline string), use three single quotes (''')
modupe = '''How do adults pay their bills? 
With bank checks!'''

In [57]:
print(modupe)

How do adults pay their bills?
With bank checks!

In [55]:
sola = "How do we go the class?"

In [56]:
print(sola)

How do we go the class?

# Handling Problems with Strings

In [63]:
#Now consider this bad example of a string, which causes Python to display an error message:
silly_string = 'He said, "Aren't can't shouldn't wouldn't."'

SyntaxError: invalid syntax (<ipython-input-63-f95c391c5da0>, line 2)

In [64]:
#Using backslash (\) before each quotation mark
silly_string1 = 'He said, "Aren\'t can\'t shouldn\'t wouldn\'t."'  
silly_string2 = "He said, \"Aren't can't shouldn't wouldn't.\""
print(silly_string1)
print(silly_string2)

He said, "Aren't can't shouldn't wouldn't."
He said, "Aren't can't shouldn't wouldn't."

# Embedding Values in Strings

In [67]:
myscore = 2000
message = 'I scored %s points' #where %s is a placeholder for the number of points.
print(message % myscore)

I scored 2000 points

In [69]:
#You can also use more than one placeholder in a string, like this:
nums = 'What did the number %s say to the number %s? Nice Score!!'
print(nums % (112,13))

What did the number 112 say to the number 13? Nice Score!!

In [70]:
text = '%s: a device for finding things in the dark' #Reusable throughout your task
devicepart1 = 'TouchLight'
devicepart2 = 'Lamp'
devicepart3 = 'Floodlight'
devicepart4 = "Bulb"

print(text % devicepart1)
print(text % devicepart2)
print(text % devicepart3)
print(text % devicepart4)

TouchLight: a device for finding things in the dark
Lamp: a device for finding things in the dark
Floodlight: a device for finding things in the dark
Bulb: a device for finding things in the dark

# Data Types and Variables in Python

In [71]:
print(10)  # A positive integer
print(-3000)  # A negative integer

10
-3000

In [72]:
num = 123456789  # Assigning an integer to a variable
print(num)

123456789

In [73]:
num = -16000  # Assigning a new integer
print(num)

-16000

In [74]:
print(1.00000000005)  # A positive float

1.00000000005

In [75]:
print(-85.6701)  # A negative float

-85.6701

In [76]:
flt_pt = 1.23456789
print(flt_pt)

1.23456789

In [77]:
print(True) # Bolean
print(False) #Bolean

True
False

In [78]:
game = "Narrow Road"
print(game)

Narrow Road

In [79]:
play = " "
print(play) #it will just print an empty line

In [80]:
#Print the length of String
game = "Narrow Road"
print(len(game)) #space was also counted in the process

11

# Sub-Setting Strings with Index

In [81]:
instructor = "olayemi oyeleke"
first = instructor[9] #Accessing the first character in the string
print(first)

y

In [82]:
space = instructor[7] # Accessing the space in the name/string
print(space)

In [87]:
#Reverse/Negative Indexing
saviour = "Christ Jesus the King"
print(saviour[-2]) #start print from the last character

n

In [88]:
print(saviour[11])

s

# String Slicing

In [91]:
my_string = "pythonclass"
print(my_string[0:6]) #From the start till "before" the 4th index

python

In [92]:
print(my_string[1:7])

ythonc

In [93]:
print(my_string[7:len(my_string)])  #From the 7th index till the end

lass

In [94]:
# Slicing with a Step
my_string = "This is my string!"
print(my_string[0:7])  # A step of 1

This is

In [102]:
print(my_string[0:7:3])  # A step of 2

Tss

In [96]:
# Partial Slicing
my_string = "This is my string!"
print(my_string[:8])  # All the characters before 'M'

This is

In [97]:
print(my_string[8:])  # All the characters starting from 'M'

my string!

In [98]:
print(my_string[:])  # The whole string

This is my string!

In [101]:
print(my_string[::-1])  # The whole string in reverse (step is -1)

!gnirts ym si sihT

# Introduction to Python Operators

In [ ]:
# Operators are used to perform arithmetic and logical operations on data.

# The 4 main operator types in Python are:

# 1. arithmetic operators

# 2. comparison operators

# 3. assignment operators

# 4. logical operators

# arithmetic operators

In [103]:
# Addition
print(5+10)

15

In [104]:
a = 13.2
b = 2.2
print(a+b)

15.399999999999999

In [105]:
#Subtraction
print(10-3)

7

In [106]:
c = 7.5
d = 5
print(c-d)

2.5

In [107]:
## Multiplication
print(60*10)

600

In [108]:
e = 2.5
f = 10
print(e*f)

25.0

In [109]:
#Division
print(50/10)

5.0

In [110]:
g = 48
h = 6
print(g/h)

8.0

In [111]:
#Floor Division (Division to the nearest smaller integer)
print(25//4)

6

In [114]:
i = 3
j = 2
print(i//j)

1

# Introducing Modulo

In [115]:
print(10/2)

5.0

In [116]:
twenty_eight = 28
print(twenty_eight%10) #reminder is 8

8

In [117]:
print(-28 % 10) #The reminder is positive if the right-hand operand is positive

2

In [118]:
print(28 % -10) #The reminder is negative if the right-hand operand is negative

-2

In [119]:
print(34.4 % 2.5) #The reminder can be float

1.8999999999999986

# Operator Precedence

In [120]:
# Operator Precedence (will be computed on the basis of operator precedence rule)
print(10 - 3 * 2)  #Multiplication computed first, followed by subtraction

4

In [121]:
# Same precedence
print(3 * 20 / 5)  # Multiplication computed first, followed by division
print(3 / 20 * 5)  # Division computed first, followed by multiplication

12.0
0.75

In [122]:
# Parentheses
# An expression which is enclosed inside parentheses 
# will be computed first, regardless of operator precedence:

print((10-3)*2) #Substraction occurs first
print((18+2)/(10 % 8))

14
10.0

# Comparison Operators

In [123]:
# The result of a comparison is always a bool.
num1 = 5
num2 = 10
num3 = 10

print(num2 > num1)  # 10 is greater than 5

True

In [124]:
print(num1 > num2)  # 5 is not greater than 10

False

In [125]:
print(num2 is num3)  # Both have the same value

True

In [126]:
print(num3 is not num1)  # Both have different values

True

In [127]:
print(3 + 10 == 5 + 5)  # Both are not equal

False

In [128]:
print(3 <= 2)  # 3 is not less than or equal to 2

False

# Assignment Operators

In [130]:
year =teenexzt@gmail.comteenexzt@gmail.com 2021
print(year)

2021

In [131]:
new_year = year + 1 #Use the existing value to create a new one
print(new_year)

2022

In [132]:
### Copying ####
first = 20
second = first #copy first into second
print(second)

20

In [133]:
first = 45 # updating first will not affect second which we have already copied
print(first,second) #second remains unchanged.

45 20

In [ ]:
#num = 10
#print(num)

#num +=5
#print(num)

#num -=5
#print(num)

#num *=2
#print(num)

#num /=2
#print(num)

#num **= 2
#print(num)

# Logical Operators

In [134]:
# Logical expressions are formed using Booleans.

my_bool = True or False
print(my_bool) #OR Expression

True

In [135]:
my_bool = True and False
print(my_bool) #AND Expression

False

In [136]:
my_bool = False
print(not my_bool) #NOT Expression

True

## Comparison Operators

In [137]:
print('a'<'b')

True

In [138]:
office = "datalab"
office_copy = "datalab"
print(office == office_copy)

True

# String Concatenation (Joining)

In [139]:
first_half = "Bat"
second_half = "Man"
full_name = first_half + second_half
print(full_name)

BatMan

In [140]:
first_name = "Bridget"
surname = "Salawu"
full_name = first_name + surname
print(full_name)

BridgetSalawu

In [141]:
print("bridget"* 3) #The * operator allows us to multiply a string, resulting in a repeating pattern.

bridgetbridgetbridget

In [142]:
datalab_interns ="Onna Aliu, Roseyln, Sola, Toyin, Chinenye, Modupe"
print(datalab_interns)

Onna Aliu, Roseyln, Sola, Toyin, Chinenye, Modupe

In [143]:
print('Chinenye' in datalab_interns)

True

In [144]:
print('Bayo' in datalab_interns)

False

# Python List

In [ ]:
#A python list could key-value pairs, multiple variable types (numeric,alphanumeric)

In [145]:
#Example of Python Numeric
my = [1,3,"intern",34,"S234"]
print(my)

[1, 3, 'intern', 34, 'S234']

In [146]:
datalab_interns =["bridget", 1, "Lee", 2, "Chinenye", 3, "Toyin", 4, "Mercy",5, "Modupe",6]
print(datalab_interns)

['bridget', 1, 'Lee', 2, 'Chinenye', 3, 'Toyin', 4, 'Mercy', 5, 'Modupe', 6]

In [150]:
print(datalab_interns[10:12]) #Lists can be indexed and sliced just like strings

['Modupe', 6]

In [ ]:
print(len(datalab_interns))

In [151]:
# Creating a Multi-Dimensional List (By Nesting a list inside a List) 
List = [['omolade', 'For'] , ['President','2022']] 
print("\nMulti-Dimensional List: ") 
print(List)

Multi-Dimensional List:
[['omolade', 'For'], ['President', '2022']]

In [152]:
# Creating a List with mixed type of values (Having numbers and strings) 
List = [1, 2, '', 4, 'Mercy', 6, 'Nangi'] 
print("\nList with the use of Mixed Values: ") 
print(List)

List with the use of Mixed Values:
[1, 2, '', 4, 'Mercy', 6, 'Nangi']

# Python program to demonstrate Addition of elements into a List

In [ ]:
# Creating a List 
List = [] 
print("Initial blank List: ") 
print(List)

In [ ]:
# Addition of Elements in the List 
List.append(1) 
List.append(2) 
List.append(4) 
print("\nList after Addition of Three elements: ") 
print(List)

In [ ]:
# Adding elements to the List using Iterator (Python Iterator)
for i in range(1, 4):
    List.append(i) 
print("\nList after Addition of elements from 1-3: ") 
print(List)

In [ ]:
# Adding Tuples to the List 
List.append((5, 6)) 
print("\nList after Addition of a Tuple: ")
List2 = ['Aderonke', 'Fatimat'] 
List.append(List2) 
print("\nList after Addition of a List: ") 
print(List)

In [ ]:
# Creating a Multi-Dimensional List (By Nesting a list inside a List) 
List = [['Team', 'Ploty'] , ['For','Real' ]]
print(List)

# Accessing an element from the multi-Dimensional List using index number

In [ ]:
print("Acessing a element from a Multi-Dimensional list") 
print(List[0][1]) 
print(List[1][0])

# Python program to demonstrate Removal of elements in a List

In [ ]:
# Creating a List 
List = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] 
print("Intial List: ") 
print(List)

In [ ]:
# Removing elements from List using Remove() method 
List.remove(5)

In [ ]:
List.remove(6)

In [ ]:
print("\nList after Removal of two elements: ") 
print(List)

In [ ]:
##### Removing elements from List using iterator method ###### 
for i in range(1, 5): 
	List.remove(i) 
print("\nList after Removing a range of elements: ") 
print(List)

In [ ]:
List = [1,2,3,4,5] 

#### Removing element from the Set using the pop() method #######
List.pop() 
print("\nList after popping an element: ") 
print(List)

In [ ]:
# Removing element at a specific location from the Set using the pop() method 
List.pop(2) 
print("\nList after popping a specific element: ") 
print(List)

# WRITING YOUR OWN PROGRAM ##

In [ ]:
total = 0

# creating a list
list1 = [1,2,3,4,5,6,7]

# Iterate each element in the list
# and add them in variable total
for element in range(0, len(list1)):
    total = total + list1[element]

# printing total value
print("Sum of all elements in the list: ", total)

# Python program to find largest element in list

In [ ]:
# Python program to find largest number in a list

# A list of numbers is given
lis = [1, 10, 40, 36, 16]

# sorting the given list "lis"
# sort() function sorts the list in ascending order
lis.sort()

# Displaying the last element of the list
# which is the largest number in the sorted list
print("Largest number in the list is:", lis[-1])

In [ ]:
# Python program to find largest number in a list
# using max() function

# A list of numbers
lis = [19, 10, 45, 26, 6]

# max() method returns the largest element of the list
print("Largest number of the list is:", max(lis))

# Finding largest number in a list, where list is provided by user

In [ ]:
# creating empty list
lis = []

# user enters the number of elements to put in list
count = int(input('How many numbers? '))

# iterating till count to append all input elements in list
for n in range(count):
    number = int(input('Enter number: '))
    lis.append(number)

# displaying largest element
print("Largest element of the list is :", max(lis))

# Supermarket grocery list in python

In [ ]:
print("WELCOME TO RAMAT SUPERMARKET")
grocery_item = {} 
grocery_history = [] 

stop = False 

while not stop:
    item_name = input("Item name:\n")   
    quantity = input("Quantity purchased:\n")   
    cost = input("Price per item:\n")
    grocery_item = {'name':item_name, 'number': int(quantity), 
                    'price': float(cost)}
    grocery_history.append(grocery_item)
    user_input = input("Would you like to enter another item?\nType 'c' for continue or 'q' to quit:\n")
    if user_input == 'q':
      stop = True
    
grand_total = 0  

for index, item in enumerate(grocery_history):
    item_total = item['number'] * item['price']
    grand_total = grand_total + item_total
    print('%d %s @ N%.2f Sub_Total N%.2f' % (item['number'], item['name'], item['price'], item_total)) 
    item_total = 0
    
# %d %s are used for formatting strings. %s acts a placeholder for a string while %d acts as a placeholder for a number    

print('Grand total: N%.2f' % grand_total)

# python program to give shop name

In [ ]:
print("Welcome to the shop Name Generator.")
street = input("What's name of the city you grew up in?\n")
pet = input("What's your pet's name?\n")
print("Your shop name could be " + street + " " + pet)